<div *ngIf="task">
  <div class="card">
    <div class="card-header">
      # {{task.id}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{task.description}}</p>
        <footer class="blockquote-footer">{{task.owner}}</footer>
      </blockquote>
    </div>
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col-4">
          <div *ngIf="task.done; else elseBlock">
            <div *ngIf="task.undoCount < 2">
              <button (click)="reprove()" class="btn btn-danger">Reprovar</button>
            </div>
          </div>
          <ng-template #elseBlock>
            <button (click)="complete()" class="btn btn-primary">Concluir</button>
          </ng-template>
        </div>
        <div class="col-8 text-right">
          Reprovada {{task.undoCount}} vezes
        </div>
      </div>
    </div>
  </div>
</div>
